html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    cursor: none;
}

.cursor {
    top: -100px;
    left: -100px;
    position: fixed;
    fill: none;
    stroke: #393939;
    stroke-width: 4px;
    filter: url(#filter-1);
    transform: translate(-50%, -50%) scale(-0.5);
    pointer-events: none;
    z-index: 1000;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

#canvas-wrapper {
    background-image: radial-gradient(#ffffff 25%, #e2e2e2);
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#canvas-grid-cells,
#canvas-grid-lines {
    display: block;
    position: absolute;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 5px;
    padding: 0;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-size: 15px;
    z-index: 0;
    padding: 30px;
}

.anim {
    width: 50px;
    height: 50px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
}

.anim span {
    visibility: hidden;
}

.text {
    color: white;
    font-size: 13px;
    padding: 0%;
    font-family: sans-serif;
    color: rgb(18, 18, 18);
}

.pages p {
    transition: color 0.5s, transform 0.5s;
}

.pages p:hover,
a:hover {
    transform: scale(0.9);
    color: #474747;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    flex-direction: row;
    font-size: 15px;
    z-index: 0;
    padding: 30px;
}

.header-section p {
    margin-left: 0;
    margin-right: 0;
}

.logo img {
    max-width: 100px;
}


.contact-info {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.contact-contact p {
    transition: transform 0.5s;
}

.contact-contact p:hover {
    transform: scale(0.95);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-links {
    text-align: right;
}

.contact-links p {
    transition: transform 0.5s;
}

.contact-links p:hover {
    transform: scale(0.95);
}

.container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    perspective: 20vmin;
    z-index: 1;
}

.list-wraper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    display: inline-flex;
    transform-origin: left;
    transform: rotateX(6deg);
    transform-style: preserve-3d;
}

.list-wraper li {
    margin-right: 10px;
}

.list-wraper li:last-child {
    margin-right: 0;
}

.list {
    list-style-type: none;
    font-family: 'Anton', sans-serif;
    font-size: 160px;
    font-weight: 1000;
    letter-spacing: 2px;
    margin-left: 150px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    transition: color 0.5s, transform 0.5s;
}

.date {
    position: absolute;
    top: 73%;
    right: 101%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.1em;
}

.type {
    position: absolute;
    top: 84%;
    right: 101%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.07em;
}

.container-date-text {
    position: relative;
}

.text-with-line {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.text-with-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background-color: black;
}

.list:hover {
    -webkit-text-stroke: 0.01px #000;
    color: transparent;
    transform: scale(1.1) rotateX(-3deg);
    cursor: pointer;
    transform-origin: left;
    transform-style: preserve-3d;
}

.list:hover .date {
    -webkit-text-stroke: initial;
    color: initial;
}

.list:hover .type {
    -webkit-text-stroke: initial;
    color: initial;
}

.all-container {
    text-align: center;
    position: relative;
}

.hidden {
    display: none;
}

button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 3px;
    box-sizing: border-box;
    color: #3B3B3B;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    will-change: transform;
    transition: transform 0.5s;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    transform: scale(0.95);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

#all-listContainer {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #1A1A1A;
    border-radius: 3px;
    color: #1a1a1a;
    width: auto;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

#all-listContainer li {
    list-style-type: none;
    margin: 10px;
    transition: opacity 0.5s, transform 0.5s;
}

#all-listContainer li:hover {
    transform: scale(0.95);
    opacity: 80%;
}

#itemList {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    gap: 15px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    z-index: 10;
    position: absolute;
    top: 30px;
    right: 20px;
}

.menu-icon .bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    opacity: 95%;
    position: absolute;
    /* top: 60px; */
    /* right: 20px; */
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    margin: 10px 0;
    transition: transform 0.5s;
}

.dropdown-content p:hover {
    transform: scale(0.9);
}

.menu-icon:hover {
    transform: scale(0.9);
}

.anim {
    width: 50px;
    height: 50px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
}

.anim span {
    visibility: hidden;
}

@media (max-width: 768px) {
    .cursor {
        display: none;
    }

    .header-section .contact-links,
    .pages {
        display: none;
    }

    .all-container {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .container {
        margin-top: 60px;
    }

    .list-wraper {
        margin-left: 10px;
    }

    .list {
        font-size: 100px;
        margin-left: 90px;
    }

    .anim {
        font-weight: 500;
    }
}