html {
    font-size: 16pt;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

.cursor {
    top: -100px;
    left: -100px;
    position: absolute;
    fill: none;
    stroke: #393939;
    stroke-width: 4px;
    filter: url(#filter-1);
    transform: translate(-50%, -50%) scale(-0.5);
    pointer-events: none;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-items: end;
    align-content: space-between;
    justify-items: stretch;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.logo-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-image: url('image/logo-02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 5%;
    filter: blur(4px);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    z-index: 0;
    padding: 30px;
}

.pages {
    width: 100%;
}

.link:hover {
    opacity: 60%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    z-index: 0;
    padding: 30px;
}

.logo img {
    max-width: 100px;
}


.contact-info {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-links {
    text-align: right;
}

.container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    perspective: 20vmin;
    z-index: 1;
}

.list-wraper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    display: inline-flex;
    transform-origin: left;
    transform: rotateX(6deg);
    transform-style: preserve-3d;
}

.list-wraper li {
    margin-right: 10px;
}

.list-wraper li:last-child {
    margin-right: 0;
}

.list {
    list-style-type: none;
    font-size: 160px;
    font-weight: 1000;
    letter-spacing: 2px;
    margin-left: 150px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    transition: color 0.5s, transform 0.5s;
}

.date {
    position: absolute;
    top: 73%;
    right: 101%;
    font-size: 0.1em;
}

.type {
    position: absolute;
    top: 84%;
    right: 101%;
    font-size: 0.07em;
    font-family: 'Roboto', sans-serif;
}

.container-date-text {
    position: relative;
}

.text-with-line {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: none;
}

.text-with-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background-color: black;
    cursor: none;
}

.list:hover {
    -webkit-text-stroke: 0.01px #000;
    color: transparent;
    transform: scale(1.1) rotateX(-3deg);
    cursor: pointer;
    transform-origin: left;
    transform-style: preserve-3d;
    cursor: none;
}

.list:hover .date {
    -webkit-text-stroke: initial;
    color: initial;
}

.list:hover .type {
    -webkit-text-stroke: initial;
    color: initial;
}